h1 {
  text-decoration: bold;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: Top center;
  justify-content: center;
  height: 100vh;
  background-color: #fce6e6;
  width: 90%; /* Adjust the width as needed */
}

.header {
  text-align: center;
  width: 90%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width for better readability */
  margin: 0 auto; /* Center the content */
  font-family: "Montserrat", sans-serif; /* Use Cheri font or another casual font */
}

@font-face {
  font-family: "Cheri";
  src: url("https://github.com/CherunoBread/Fonts/blob/main/CHERI___.TTF")
    format("truetype"); /* Replace with your GitHub raw file URL */
  font-weight: normal;
  font-style: normal;
}

.small-image {
  width: 10%; /* Adjust the width as needed */ /* Set the desired width for the image */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Display the image inline with text */
  vertical-align: top; /* Align the image vertically with text */
  margin-left: 10px; /* Add some space to the left of the image */
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 10px; /* Add some padding for better readability on small screens */
  }
}
